{% extends 'base.html' %}

{% block title %}All Members{% endblock title %}

{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'member-list' %}">Members</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contributors</li>
        </ol>
    </nav>
    <div class="btn-group btn-group-sm" role="group" aria-label="Membership Filter">
        <a href="{% url 'member-list' %}" class="btn btn-secondary">All Members</a>
        <a href="{% url 'parent-list' %}" class="btn btn-secondary">Parents</a>
        <a href="{% url 'scout-list' %}" class="btn btn-secondary">Cubs</a>
        <a href="{% url 'contributor-list' %}" class="btn btn-secondary active">Friends of the Pack</a>
    </div>
    {% if contributor_list %}
        <ul class="list-group">{% for person in contributor_list %}
            <li class="list-group-item"><a href="{{ person.get_absolute_url }}">{{ person }}</a></li>{% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-light" role="alert">No members have joined yet</div>
    {% endif %}
{% endblock main %}