[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-bootstrap4 = "*"
django-ckeditor = "*"
django-js-asset = "*"
pytz = "*"
Pillow = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
babel = "*"
six = "==1.12.0"
django-registration = "*"
django-localflavor = "*"
django = "==2.2.3"

[requires]
python_version = "3.7"
