-i https://pypi.org/simple
babel==2.6.0
django-bootstrap4==0.0.8
django-ckeditor==5.7.1
django-js-asset==1.2.2
django-phonenumber-field==2.4.0
django==2.2.1
phonenumbers==8.10.12
pillow==6.0.0
pytz==2019.1
sqlparse==0.3.0
