{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block optional_head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock optional_head %}

{% block main %}
    <div class="text-center">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <form method="post" class="form-signin">
            {% csrf_token %}
            <p>
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}" class="sr-only">Username:</label>
                <input type="text" name="username" autofocus required id="id_username" placeholder="email address"
                       class="form-control">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}" class="sr-only">Password:</label>
                <input type="password" name="password" required id="id_password" placeholder="password"
                       class="form-control">
            </p>
            <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p>Forgot your password? <a href="{% url 'password_reset' %}">You can reset it.</a></p>
    </div>
{% endblock main %}