{% extends "base.html" %}
{% load static %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block main %}
    <h1>Forgot Your Password?</h1>
    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-group">
            {{ form.email.errors }}
            <label for="id_email">Email address:</label>
            {{ form.email }}
        </div>
        <input type="submit" value="Reset my password" class="btn btn-primary">
    </fieldset>
    </form>
{% endblock main %}