@font-face {
    font-family: 'packman';
    src: url('/static/fonts/webfont.woff2') format('woff2'),
    url('/static/fonts/webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
    font-family: 'packman';
    line-height: .95em;
}
#banner {
    position: relative;
}

#banner nav {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

#navbar_background {
    height: 96px;
    width: 100%;
    background-color: #000000;
}

body {
    background-color: black;
}

main {
    background-color: whitesmoke;
}