{% extends "base.html" %}

{% block title %}{{ committee.name }}{% endblock %}

{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'committees-list' %}">Committees</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ committee.name }}</li>
        </ol>
    </nav>
    <h1>{{ committee.name }}</h1>
    <div>{{ committee.description }}</div>
    {% if committee.chair.count or committee.assistant.count %}
    <h2>Leadership</h2>
        {% if committee.chair.count %}
            <h3>Chair</h3>
            <ul>
            {% for chair in committee.chair.all %}
            <li>{{ chair }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% if committee.assistant.count %}
            <h3>Assistant</h3>
            <ul>
            {% for assistant in committee.assistant.all %}
            <li>{{ assistant }}</li>
            {% endfor %}
            </ul>
            {% endif %}
    {% endif %}

{% endblock main %}