{% extends 'base.html' %}

{% block title %}Committees{% endblock title %}

{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Committees</li>
        </ol>
    </nav>
    <h1>Committees</h1>
    {% if committee_list %}
    <dl class="row">
    {% for committee in committee_list %}
        <dt class="col-sm-3"><a href="{{ committee.get_absolute_url }}">{{ committee }}</a></dt>
        <dd class="col-sm-9 text-truncate">{% if committee.description %}{{ committee.description }}{% endif %}</dd>
    {% endfor %}
    </dl>
    {% else %}
    <div class="alert alert-light" role="alert">No committees have been defined yet</div>
    {% endif %}
{% endblock main %}