{% extends "base.html" %}

{% block title %}{{ committee.name }}{% endblock %}

{% block main %}
    <h1>{{ committee.name }}</h1>
    <div>{{ committee.description }}</div>
    {% if committee.chair.count > 0 or committee.assistant.count > 0 %}
    <h2>Leadership</h2>
        {% if committee.chair.count > 0 %}
            <h3>Chair</h3>
            <ul>
            {% for chair in committee.chair.all %}
            <li>{{ chair }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% if committee.assistant.count > 0 %}
            <h3>Assistant</h3>
            <ul>
            {% for assistant in committee.assistant.all %}
            <li>{{ assistant }}</li>
            {% endfor %}
            </ul>
            {% endif %}
    {% endif %}

{% endblock main %}