{% extends "base.html" %}
{% load static %}

{% block title %}{{ den }}{% endblock %}

{% block main %}
    <img src="/static/img/den_{{ den.number }}_patch.jpg" class="img-fluid float-left mw-25" alt="Den {{ den.number }} patch">
    <img src="/static/img/{{ den.get_rank_display.lower }}_rank_patch.jpg" class="img-fluid float-right mw-25" alt="{{ den.get_rank_display }} patch">
    <h1>Den {{ den.number }}</h1>
    <div>{{ den.get_rank_display }}</div>
    <h2>Den Leader{% if not den.leadership.count == 1 %}s{% endif %}</h2>
    {% if den.leadership.count %}
        <ul>
            {% for leader in den.leadership.all %}
            <li><a href="{{ leader.get_absolute_url }}">{{ leader }}</a></li>{% endfor %}
        </ul>
    {% else %}<p>This den has no leaders assigned</p>
    {% endif %}

    <h2>Members</h2>
    {% if den.membership.count %}
        <ul>
        {% for member in den.membership.all %}
            <li><a href="{{ member.get_absolute_url }}">{{ member }}</a></li>{% endfor %}
        </ul>
        {% else %}
        <p>This den has no members currently assigned</p>
    {% endif %}

{% endblock main %}