{% extends "base.html" %}
{% load static %}


{% block title %}
    {% if object %}
        {{ object.title }}
    {% else %}
        About Us
    {% endif %}
{% endblock title %}

{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>
    {% if object %}
        <h1>{{ object.title }}</h1>
        {% if object.image %}<img src="{% url 'image' object.image.pk %}">{% endif %}
        <p>{{ object.body }}</p>
    {% else %}
        <h1>About Us</h1>
        {% lorem 3 p %}
    {% endif %}
{% endblock %}