{% extends "base.html" %}
{% load static %}


{% block title %}
    {% if object %}
        {{ object.title }}
    {% else %}
        About Us
    {% endif %}
{% endblock title %}

{% block main %}
    {% if object %}
        <h1>{{ object.title }}</h1>
        {% if object.image %}<img src="{% url 'image' object.image.pk %}">{% endif %}
        <p>{{ object.body }}</p>
    {% else %}
        <h1>About Us</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate finibus ante eget viverra. Fusce nec sem
            metus. Nulla elementum ac neque tincidunt viverra. Donec non neque sed sem imperdiet tempor fermentum non mi.
            Integer porttitor, risus et eleifend gravida, libero odio rhoncus justo, cursus pulvinar quam sapien id tortor.
            Aliquam fermentum sapien vitae eros imperdiet, ac fringilla justo placerat. Cras elit dolor, sagittis quis
            pulvinar ut, vehicula ut diam. Sed at lacus aliquam, egestas ex eu, euismod ligula. Duis finibus fringilla
            congue. Aenean id ullamcorper nibh, sed malesuada metus. Quisque sodales vitae tellus vitae egestas. Donec et
            ante blandit, tempus dolor vitae, ultrices nunc. Aliquam eleifend vulputate purus, at sodales elit lobortis
            vitae. Duis condimentum venenatis lacus non accumsan.
        </p>

        <p>
            Phasellus volutpat gravida lacus ac commodo. Aliquam hendrerit dolor vulputate tincidunt luctus. Fusce
            consectetur eros condimentum enim molestie, at pretium nunc fringilla. Proin pellentesque a neque vitae
            tincidunt. Praesent faucibus pharetra arcu, eu porttitor augue eleifend sit amet. Vestibulum id vehicula leo.
            Donec accumsan fermentum imperdiet. Aenean lacinia metus nec leo vestibulum malesuada. Cras auctor leo sit amet
            nunc maximus, a faucibus dui malesuada. Vivamus vehicula lacus porta dignissim posuere. Fusce gravida massa
            nisi, eu malesuada felis posuere eu. Vivamus fringilla fringilla ligula quis rutrum. Phasellus porta felis eget
            metus aliquet cursus. Ut accumsan condimentum volutpat. Duis non finibus dolor. Nunc et massa laoreet, feugiat
            lectus rutrum, finibus libero.
        </p>

        <p>
            Curabitur vel enim et enim faucibus cursus. In vestibulum vehicula semper. Nullam nunc sapien, egestas non ex
            nec, congue molestie orci. Mauris tincidunt sed felis vel commodo. Duis commodo semper est, id tristique magna
            porta a. Sed quis turpis sollicitudin ligula blandit sagittis. Nam vel interdum enim. Donec magna purus, pretium
            id mauris non, tempus consectetur nisl. Maecenas volutpat leo tellus, sagittis congue neque sagittis eu.
            Suspendisse ullamcorper felis felis, vel suscipit leo aliquet vitae. Quisque est augue, aliquet sed magna in,
            suscipit ullamcorper dui. Quisque sagittis justo urna, at porttitor sem feugiat sit amet.
        </p>

        <p>
            Sed consectetur euismod tortor, nec cursus ipsum pellentesque quis. Nam vestibulum, lorem sit amet accumsan
            convallis, arcu dolor scelerisque quam, et fringilla velit magna et nulla. Morbi in purus enim. Suspendisse
            augue lorem, tristique placerat pretium non, hendrerit vitae velit. Cras congue odio sed sapien egestas cursus.
            Aliquam commodo sem est, non tincidunt mauris faucibus in. Integer libero metus, commodo non convallis eu,
            tempor ut turpis. Maecenas luctus eleifend lectus sit amet posuere. Maecenas rutrum ullamcorper porta. In hac
            habitasse platea dictumst. Morbi egestas, purus at fringilla consequat, felis odio sagittis tellus, non tempus
            ipsum arcu et nulla. Sed eget interdum sem.
        </p>

        <p>
            Aliquam blandit ante ac euismod gravida. Aenean sit amet auctor elit. Ut metus metus, lacinia quis massa nec,
            tincidunt vehicula nulla. Aenean pulvinar lorem eget tempor sodales. Maecenas condimentum, mauris a finibus
            viverra, sapien dolor egestas augue, mollis pretium nulla est eget sapien. Morbi interdum nec sapien sed
            condimentum. Mauris consectetur scelerisque posuere. Duis euismod nibh metus, quis consectetur libero mollis
            vel. In fringilla feugiat mauris. Vestibulum tempor justo eget massa aliquet mollis.
        </p>

        <p>
            Nulla facilisi. Phasellus non fermentum quam, id dapibus massa. Donec ut dignissim enim. Proin lobortis sem
            sollicitudin felis aliquet, et suscipit turpis tristique. Curabitur bibendum venenatis auctor. Nam gravida
            imperdiet lectus sit amet dapibus. Mauris sit amet magna non quam feugiat tincidunt. Nullam scelerisque enim vel
            nibh finibus, ac feugiat lacus commodo. Integer suscipit, nunc in viverra posuere, diam leo ornare dui, posuere
            rutrum massa dolor non odio. Nullam dignissim pretium tristique. Suspendisse dapibus nibh libero, commodo
            scelerisque nunc ultrices eu.
        </p>
    {% endif %}
{% endblock %}