{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/packman.css' %}">
    {% block optional_head %}{% endblock %}
    <title>Pack 144: {% block title %}Hello World!{% endblock %}</title>
</head>

<!-- Here lies the header section -->
<header>{% include 'header.html' %}</header>

<!-- Here lies the main section -->
<main role="main">
    <div class="container">
        {% block main %}<h1>Hello World!</h1>{% endblock %}
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
  </ul>
{% endif %}
    </div>
</main>

<!-- Here lies the footer section -->
<footer>
    <div class="container">
        {% include 'footer.html' %}
    </div>
</footer>

{% bootstrap_javascript jquery='full' %}
{% block optional_js %}{% endblock %}
</body>
</html>