{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/packman.css' %}">
    {% block optional_head %}{% endblock %}
    <title>Pack 144: {% block title %}Hello World!{% endblock %}</title>
</head>

<!-- Here lies the header section -->
<header>{% include 'header.html' %}</header>

<!-- Here lies the main section -->
<main role="main">
    <div class="container">
        {% block main %}<h1>Hello World!</h1>{% endblock %}
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            {% endif %}
            {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ page }}  <span class="sr-only">(current)</span></a>
                    </li>{% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            </ul>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
        </nav>
    {% endif %}
    </div>
</main>

<!-- Here lies the footer section -->
<footer>
    <div class="container">
        {% include 'footer.html' %}
    </div>
</footer>

{% bootstrap_javascript jquery='full' %}
{% block optional_js %}{% endblock %}
</body>
</html>